@mixin selectedStyle($bgColor) {
  background-color: hsl($bgColor);
}

.search-results {
  &__list {
    font-size: var(--font-size-mobile);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: var(--list-gap);
  }
  &__matched-text {
    background-color: hsl(var(--clr-info-light));
    color: hsl(var(--clr-fixed-main));
    padding: 0 0.1em;
  }

  &__option {
    cursor: pointer;
    display: block;
    outline: none;
    border: var(--border) transparent;
    padding: var(--list-option-padding) var(--page-padding-mobile);

    &[data-focus-visible],
    &.first-focused {
      background-color: hsl(var(--clr-secondary-light));
    }

    &[data-selected],
    &.first-selected {
      background-color: hsl(var(--clr-accent-light));
    }

    word-break: break-all;
  }

  &__folder-icon {
    font-size: 1.2em;
    position: relative;
    top: 0.1em;
    display: inline-block;
    margin-right: 0.2em;
  }

  &__message-wrapper {
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: pretty;
    padding: 3em 2em;
    gap: 0.5em;
  }

  &__message-icon {
    font-size: 3em;
  }
  &__message {
    text-align: center;
    font-size: 1.2em;
  }

  @media (min-width: 1024px) and (min-height: 576px) {
    &__option {
      padding: var(--list-option-padding);
      &[data-focus-visible],
      &.first-focused,
      &[data-selected],
      &.first-selected {
        border-radius: var(--border-radius-sm);
        border: var(--border) var(--border-color-primary);
      }
    }
  }

  @media (hover: hover) {
    &__list {
      font-size: var(--font-size-desktop);
    }
  }
}
