.search-field-button {
  user-select: none;
  position: relative;
  border-radius: var(--border-radius-md);
  outline: none;

  &[data-focus-visible] {
    outline: var(--outline);
    outline-offset: var(--outline-offset);
  }

  &__input {
    border-radius: var(--border-radius-md);
    padding: var(--search-input-padding);
    border: var(--border) var(--border-color-primary);
    &.secondary {
      background-color: hsl(var(--clr-secondary-main));
    }
    &.accent {
      background-color: hsl(var(--clr-accent-main));
    }
  }
  &__content {
    width: 100%;
    &::before {
      content: "\00a0";
    }
  }

  &__search-icon {
    font-size: var(--search-input-icon-font-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.06em;
    left: var(--search-input-icon-offset);
  }
}
