.spinner {
  width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  &__svg {
    flex: 1;
    stroke: hsl(var(--clr-primary-main));
  }

  &__content {
    transform-origin: center;
    animation: spinner_zKoa 2s linear infinite;
  }
  &__content circle {
    stroke-linecap: round;
    animation: spinner_YpZS 1.5s ease-in-out infinite;
  }
  @keyframes spinner_zKoa {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spinner_YpZS {
    0% {
      stroke-dasharray: 0 150;
      stroke-dashoffset: 0;
    }
    47.5% {
      stroke-dasharray: 42 150;
      stroke-dashoffset: -16;
    }
    95%,
    100% {
      stroke-dasharray: 42 150;
      stroke-dashoffset: -59;
    }
  }
}
