.breadcrumbs {
  display: flex;
  font-size: 1.2em;
  align-items: center;
  font-weight: 700;
  padding: 0.5em var(--page-padding-mobile);
  gap: 0.2em;

  &__icon-link {
    padding: 0.1em;
    flex-shrink: 0;
    font-size: var(--icon-button-font-size);
  }
  &__link {
    padding: 0.2em 0.5em;
    max-width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__separator {
    font-size: var(--icon-button-font-size);
  }

  @media (min-width: 768px) and (min-height: 432px) {
    padding: 0.5em var(--page-padding-desktop);
  }
}
