.folder-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: var(--list-option-padding) var(--page-padding-mobile);
  outline: none;
  border: var(--border) transparent;
  cursor: default;
  background-color: hsl(var(--clr-secondary-main));

  &[data-hovered] {
    background-color: var(--bg-hovered);
  }
  &[data-selected] {
    background-color: var(--bg-pressed);
  }

  &__name {
    min-width: 0;
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  &__name-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    flex-shrink: 0;
    font-size: var(--icon-font-size);
    position: relative;
    margin-right: 0.2em;
  }
  &__size {
    flex: 0 0 12ch;
    text-align: center;
  }
  &__date {
    flex: 0 0 18ch;
    text-align: center;
  }
  &__date.hidden,
  &__size.hidden {
    display: none;
  }

  &__more-options,
  &__checkbox {
    flex: none;
    font-size: var(--icon-button-font-size);
  }
  &__more-options {
    padding: 0.12em;
  }

  @media (min-width: 768px) and (min-height: 432px) {
    padding: var(--list-option-padding);
    border-radius: var(--border-radius-sm);
  }
}
